main {
  
  text-align: center;
  padding: 20px;
  margin: 20px;
  
}

.cards-container {
  display: grid;
   grid-template-areas: 
    "card"
    "card"
    "card";
  gap: 1rem;
  padding: 1rem;
}

.card {
  
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #e4dddd;
  padding: 1rem;
  text-align: center;
  justify-content: center;
}
.card h2 {
  text-align: start;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}
.card-content {
  display: flex;
}

.card img {
  width: 300px;
  height: 200px;
  object-fit: cover; 
}

 .card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
.card address {
  font-size: 0.9rem;
}

.card p {
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 0.9rem;
}

.card button {
  background-color: var(--lila);
  color: #fff;
  border: none;
  padding: 0.5rem 3rem;
  border-radius: 5px;
  cursor: pointer;
}

/* Small screens (320px - 640px) */
@media (max-width: 640px) {
  .cards-container {
    grid-template-areas:
      "card1"
      "card2"
      "card3"
      "card4";
    grid-template-columns: 1fr;
  }
  .card1 { grid-area: card1; }
  .card2 { grid-area: card2; }
  .card3 { grid-area: card3; }
  .card4 { grid-area: card4; }
  .card {
    padding: 0;
  }
  .card-content {
    flex-direction: column;
    padding: 0;
    margin: 0
  }

  .card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    
  }

  .card address {
    font-size: 0.8rem;
    padding: 0.9rem 0;
  }
  .card p {
    padding-top: 1rem;
  }
  .card button {
    margin: 1rem 1rem;
  }
  
  
}

/* Medium screens (641px - 1024px) */
@media (min-width: 641px) and (max-width: 1024px) {
  .cards-container {
    grid-template-areas:
      "card1"
      "card2"
      "card3"
      "card4";
    grid-template-columns: 1fr;
  }
  .card1 { grid-area: card1; }
  .card2 { grid-area: card2; }
  .card3 { grid-area: card3; }
  .card4 { grid-area: card4; }
  .card address {
    font-size: 0.8rem;
    padding-top: 0.9rem;
  }
  .card p {
    padding-top: 1rem;
  }
  
  
}

/* Large screens (1025px and above) */
@media (min-width: 1025px) {
  .cards-container {
    grid-template-areas: 
    "card1 card2"
      "card3 card4";;
    grid-template-columns: repeat(2, 1fr);
  }
  .card1 { grid-area: card1; }
  .card2 { grid-area: card2; }
  .card3 { grid-area: card3; }
  .card4 { grid-area: card4; }
} 