header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.container-header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  margin: 0 auto;
}
.container-header input {
  display: none;
}
h3 {
  font-size: 1rem;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  background-color: var(--primary-color);
  color: var(--text-color);
}
.logo {
  height: 80px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  width: 100%;
  align-items: center;
  
}
nav ul li {
  margin: 0 10px;
  color: var(--text-color);
  width: 90px;
  text-align: center;
  padding: 10px;
  border: 1px solid var(--primary-color);
}

nav ul li:hover {
  border: 1px solid var(--lila);
  border-radius: 5px;
 
}
nav ul li a {
  color: var(--text-color);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
  color: var(--lila);
  text-align: center;
}
nav ul li.active-link {
  border: 1px solid var(--lila);
  color: var(--lila);
  border-radius: 5px;
}
nav ul li.active-link a {
  color: var(--lila);
  text-align: center;
}

footer {
  background-color: var(--lila);
  width: 100%;
  margin-top: auto;
  padding: 20px;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.2);
}
.global-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.footer-container p {
  margin: 0;
  color: var(--primary-color);
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}
.social a i {
  color: var(--primary-color);
  text-decoration: none;
  border: 1px solid var(--lila);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  padding: 5px;
}

.social a i:hover {
  border-color: var(--primary-color);
  transform: scale(1.1);
}


  @media (max-width: 890px) {

    .container-header {
     position: relative;
     flex-direction: column;
     align-items: start;
   }
   
   .top h2 {
     font-size: 12px;
   }
 
 
   nav {
     display: none;
   }
   .bottom {
     width: 100%;
   }
   .bottom nav ul {
     display: flex;          
     flex-direction: column;  
     justify-content: center;
     width: 100%;
     padding: 0;
     margin: 0;
   }
   
   .bottom nav ul li {
     width: 100%;
     text-align: center;          
     margin: 10px 0;         
   }
   
   .bottom nav ul li:hover {
     background-color: var(--lila);
     border-radius: 5px;
     box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
   }
   
   .bottom nav ul li a {
     display: block;         
     color: var(--text-color);          
     text-decoration: none;          
 
   }
   
  
   #lanzador:checked ~ .bottom nav {
     display: flex; 
     flex-direction: column;
   }
 
   .bottom {
     position: relative;
   }
 
   .menu-activador {
     position: absolute;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     width: 20px;
     height: 20px;
     top: 20px;
     right: 20px;
     cursor: pointer;
   }
 
   .menu-activador-linea {
     height: 2px;
     background-color: var(--text-color, black);
     opacity: 1;
     transform: translateY(0) rotate(0);
     transition: all 0.3s;
   }
 
   #lanzador {
     position: absolute;
     left: -9999px;
   }
 
   
   #lanzador:checked ~ label .menu-activador-linea:nth-child(1) {
     transform: translateY(9px) rotate(45deg);
   }
 
   #lanzador:checked ~ label .menu-activador-linea:nth-child(2) {
     opacity: 0;
   }
 
   #lanzador:checked ~ label .menu-activador-linea:nth-child(3) {
     transform: translateY(-9px) rotate(-45deg);
   }
   
   .button-container {
  display: flex;
  gap: 30px;
  margin-top: 10px;
}
.main-top button {
  background-color: var(--secondary-color);
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  color: var(--text-color);
  margin-top: 10px;
  padding: 10px 20px;
  gap: 10px;
  transition: all 0.3s ease-in-out;
}
.menu-activador {
  display: none;
}
.main-top button:hover {
  background-color: var(--lila);
  color: var(--primary-color);
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
 
   footer p {
     font-size: 12px;
   }
   footer p a {
     font-size: 12px;
   }
   footer .global-container {
     flex-direction: column;
     align-items: center;
   }
 
   footer .footer-container {
     display: flex;
     margin-bottom: 10px;
     width: 100%;
     text-align: center;
     align-items: center;
     justify-content: center;
   }
 }

 @media (max-width: 890px) {

  .container-header {
   position: relative;
   flex-direction: column;
   align-items: start;
 }
 
 .top h2 {
   font-size: 12px;
 }


 nav {
   display: none;
 }
 .bottom {
   width: 100%;
 }
 .bottom nav ul {
   display: flex;          
   flex-direction: column;  
   justify-content: center;
   width: 100%;
   padding: 0;
   margin: 0;
 }
 
 .bottom nav ul li {
   width: 100%;
   text-align: center;          
   margin: 10px 0;         
 }
 
 .bottom nav ul li:hover {
   background-color: var(--lila);
   border-radius: 5px;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
 }
 
 .bottom nav ul li a {
   display: block;         
   color: var(--text-color);          
   text-decoration: none;          

 }
 

 #lanzador:checked ~ .bottom nav {
   display: flex; 
   flex-direction: column;
 }

 .bottom {
   position: relative;
 }

 .menu-activador {
   position: absolute;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 20px;
   height: 20px;
   top: 20px;
   right: 20px;
   cursor: pointer;
 }

 .menu-activador-linea {
   height: 2px;
   background-color: var(--text-color, black);
   opacity: 1;
   transform: translateY(0) rotate(0);
   transition: all 0.3s;
 }

 #lanzador {
   position: absolute;
   left: -9999px;
 }

 /* Efecto de las líneas */
 #lanzador:checked ~ label .menu-activador-linea:nth-child(1) {
   transform: translateY(9px) rotate(45deg);
 }

 #lanzador:checked ~ label .menu-activador-linea:nth-child(2) {
   opacity: 0;
 }

 #lanzador:checked ~ label .menu-activador-linea:nth-child(3) {
   transform: translateY(-9px) rotate(-45deg);
 }
 

 footer p {
   font-size: 12px;
 }
 footer p a {
   font-size: 12px;
 }
 footer .global-container {
   flex-direction: column;
   align-items: center;
 }

 footer .footer-container {
   display: flex;
   margin-bottom: 10px;
   width: 100%;
   text-align: center;
   align-items: center;
   justify-content: center;
 }
}